<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"

	xmlns:th="http://www.thymeleaf.org"  >
<head >
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2>FileUpload</h2>
				
				<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successmessage}">
  <strong th:text="${successmessage}"></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


				<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${erreurmessage}">
  <strong th:text="${erreurmessage}"></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>






				<form action="" th:action="@{'/fileupload'}" th:object="${user}"
					method="post" enctype='multipart/form-data'>
					<div class="form-group">
						<label for="fileupload">File Upload (Excel & CSV & JSON)</label> 
						<input type="file" class="form-control" id="file" name="file"
							th:field="*{file}">
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			
			<div class="col-md-12">
			<h2> Les Factures d'achat :</h2>
			
			
			<table class="table">
  <thead>
    <tr>
      <th scope="col">numFacture</th>
      <th scope="col">val</th>
      <th scope="col">codeClient</th>
      <th scope="col">societe</th>
         <th scope="col">totalHT</th>
      <th scope="col">totalTVA</th>
      <th scope="col">totalTTC</th>
         <th scope="col">acompte</th>
      <th scope="col">mantantRegle</th>
      <th scope="col">soldeDu</th>
      
     
    </tr>
  </thead>
  <tbody>

    <tr th:each="user : ${users}">
     
      <td th:text="${user.numFacture}"></td>
       <td th:text="${user.val}"></td>
       <td th:text="${user.codeClient}"></td>
        <td th:text="${user.societe}"></td>
         <td th:text="${user.totalHT}"></td>
          <td th:text="${user.totalTVA}"></td>
           <td th:text="${user.totalTTC}"></td>
            <td th:text="${user.acompte}"></td>
             <td th:text="${user.mantantRegle}"></td>
                  <td th:text="${user.soldeDu}"></td>
                     
        
    </tr>
 
  </tbody>
</table>
			</div>
			
			
			
		</div>
	</div>






	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>
</html>